<nav>
    <div class="logo-container">
      <div class="left-logo">
        <a href="/">
          <img src="/miku.png" alt="Logo 1" class="logo">
        </a>
      </div>
      <div class="site-title">
        <h1>WifusAnime</h1> <!-- Título en el centro -->
      </div>
      <div class="right-logo">
        <a href="/">
          <img src="/miku.png" alt="Logo 2" class="logo">
        </a>
      </div>
      <p class="waifu-link-container">
            Api utilizada 
            <a href="https://waifu.pics/" class="waifu-link" target="_blank" rel="noopener noreferrer">
              WAIFU.PICS
            </a>
          </p>
    </div>
    <ul>
      <li><a href="/">Principal</a></li>
      <li><a href="/create">WaifuRandom</a></li>
    </ul>
  </nav>