<html lang="en">
<%- include("./visualizacion/head.ejs") %>

<body>
  <%- include("./visualizacion/nav.ejs") %>

  <div class="not-found content">
    Tu waifu ha sido secuestrada por un error 404. ¡Ayúdala a escapar!
  </div>

  <%- include("./visualizacion/footer.ejs") %>
</body>
</html>